<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>排序算法图形化</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<div id="app">
    需要排序的数据 <input type="button" @click="reset" value="重置"/>
    <div class="nums">
        <div v-for="num in sourceNums" v-bind:key="num" :class="['num','nums-item']">
            {{ num }}
        </div>
    </div>
    <br/>
    <input type="button" @click="sort('bubbleSort')" value="冒泡排序"/>
    <input type="button" @click="sort('insertSort')" value="插入排序"/>
    <transition-group name="nums" tag="div" class="nums">
        <div v-for="num in nums" v-bind:key="num" :class="['num','nums-item']">
            {{ num }}
        </div>
    </transition-group>
    <div class="text" v-if="finish">排序完成!</div>
</div>
</body>
<style>
    .nums {
        display: flex;
        transition: all 500ms;
        margin-right: 10px;
    }

    .num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: #42b983 solid;
    }

    .nums-item {
        transition: all 500ms;
        margin-right: 10px;
    }
</style>
<script>
    /**
     * 内容
     * 1 MVVM，局限性
     * 2 Flex
     * 3 策略模式
     *
     */

    new Vue({
        el: "#app",
        data: {
            //源数组
            sourceNums: [],
            //需要排序的数组
            nums: [],
            finish: false
        },
        methods: {
            reset() {
                this.nums = [];
                for (let i = 0; i < 10; i++) {
                    var num = Math.floor(Math.random() * (200 - 1)) + 1;
                    if (!this.nums.includes(num)) {
                        this.nums.push(num);
                    }
                }
                Object.assign(this.sourceNums, this.nums)
                this.finish = false;
            },
            async sort(key) {
                await strategies[key](this.nums);
                this.finish = true;
            }
        },
        mounted() {
            this.reset();
        }

    });

    /**
     * 排序算法（策略）封装
     * 策略模式的定义是：定义一系列的算法,把它们一个个封装起来,并且使它们可以相互替换。
     * 在函数作为一等对象的语言中，策略模式是隐形的。strategy就是值为函数的变量。
     * 例如，如果 var strategies 不声明自己是个策略对象，无法认出这是一个策略模式的实现
     *
     * 策略模式的实现并不复杂，关键是如何从策略模式的实现背后，找到封装变化、委托和多态性这些思想的价值。
     * 1 将“做什么”和“谁去做以及怎样去做”分离开来，
     * 2 将“不变的事物”与 “可能改变的事物”分离开来。
     *
     * 优点：
     *      重构if-else
     *      开闭原则，易扩展
     *      关注点分离，易于理解
     *      提高复用性
     */
    var strategies = {
        /**
         * 冒泡排序
         * @param nums
         */
        bubbleSort: async function (nums) {
            for (let j = 0; j < nums.length; j++) {
                for (let i = 0; i < nums.length - j; i++) {
                    console.log(nums[i] > nums[i + 1], nums[i], nums[i + 1])
                    if (nums[i] > nums[i + 1]) {
                        let tempNum = nums[i];
                        /**
                         * 由于 JavaScript 的限制，Vue 不能检测数组和对象的变化。
                         * 失效的写法：
                         *      nums[i]=nums[i + 1]
                         * 生效的写法：
                         *      Vue.set(nums, i, nums[i + 1])
                         *      nums.splice(i, 1, nums[i + 1]);
                         */
                        nums.splice(i, 1, nums[i + 1]);
                        Vue.set(nums, i + 1, tempNum)
                        await sleep(500);
                    }
                }
            }
        },
        /**
         * 插入排序
         * @param nums
         */
        insertSort: async function (nums) {
            //存放要排序的数据
            var _num = [];
            Object.assign(_num, nums);
            //清空VUE绑定的数组，开始排序
            nums.splice(0, nums.length);
            nums.push(_num[0]);
            await sleep(500);
            for (var i = 1; i < _num.length; i++) {
                var cur = _num[i];
                //倒着比较
                for (var j = nums.length - 1; j >= 0;) {
                    if (cur < nums[j]) {//当前比左手的牌小 继续比
                        j--;
                        if (j === -1) {//比左手所有的都小 放在开头就可以了
                            nums.unshift(cur);
                            await sleep(500);
                        }
                    } else {//当前新抓的比左手中的【j】大 ，放后面
                        nums.splice(j + 1, 0, cur); //放到 j+1前面
                        await sleep(500);
                        j = -1;
                    }
                }
            }
        }

    }


    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms))
    }

</script>

</html>
