<!DOCTYPE html>
<html>
<head>
    <title>Component Blog Post Example</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
</head>
<body>
<div id="blog-post-demo" class="demo">
    <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
            v-bind:id="post.id"
    ></blog-post>
</div>

<script>
    /**
     * 1 全局注册组件
     * 2 通过 Prop向子组件传递数据
     */
    Vue.component("blog-post", {
        props: ["title","id"],
        template: "<h3>{{ title }}****{{ id }}</h3>"
    });

    new Vue({
        el: "#blog-post-demo",
        data: {
            posts: []
        },
        created: function() {
            var vm = this;
            vm.posts = [{id:1,title:1},{id:2,title:2},{id:3,title:3}]
        }
    });
</script>
</body>
</html>
